<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pdf-generator-leapfroggr" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>PDFGenerator</name><js-module name="PDFGenerator" src="www/PDFGenerator.js"><clobbers target="cordova.plugins.PDFGenerator" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="PDFGenerator"><param name="android-package" value="cordova-plugin-pdf-generator-leapfroggr.PDFGenerator" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/PDFGenerator.java" target-dir="src/cordova-plugin-pdf-generator-leapfroggr/PDFGenerator" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="PDFGenerator"><param name="ios-package" value="PDFGenerator" /></feature></config-file><source-file src="src/ios/PDFGenerator.m" /></platform></plugin>